.button,
.button:link,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-sizing: border-box;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  height: 50px;
  letter-spacing: 0.05em;
  line-height: 50px;
  margin-bottom: 0.6em;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover,
.button:focus,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border: 1px solid #444;
  color: #555;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  color: #000;
  border: 1px solid #000;
}

.button.small,
button.small,
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small {
  height: 35px;
  font-size: 0.7em;
  line-height: 35px;
}

.button.medium,
button.medium,
input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium {
  height: 55px;
  font-size: 1em;
  line-height: 55px;
  padding: 0px 22px;
}

.button.large,
button.large,
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large {
  height: 60px;
  font-size: 1.2em;
  line-height: 60px;
  padding: 0px 28px;
}

.button.full-width,
.button.full-width:link,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: none;
  box-sizing: border-box;
  color: #666;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0.6em;
  padding: 2px 15px 0px 15px;
  vertical-align: top;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  margin-right: 4px;
}

textarea {
  min-height: 100px;
  padding: 10px 12px;
  line-height: 2;
}

fieldset {
  border: 0px;
  margin-bottom: 1em;
}

label,
legend {
  font-family: sans-serif;
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.3em;
  color: #333;
}

input[type="email"].small,
input[type="number"].small,
input[type="search"].small,
input[type="text"].small,
input[type="tel"].small,
input[type="url"].small,
input[type="password"].small,
textarea.small,
select.small {
  height: 35px;
  font-size: 0.7em;
  line-height: 35px;
  padding: 2px 10px 0px 10px;
}

input[type="email"].medium,
input[type="number"].medium,
input[type="search"].medium,
input[type="text"].medium,
input[type="tel"].medium,
input[type="url"].medium,
input[type="password"].medium,
textarea.medium,
select.medium {
  height: 55px;
  font-size: 1em;
  line-height: 55px;
}

input[type="email"].large,
input[type="number"].large,
input[type="search"].large,
input[type="text"].large,
input[type="tel"].large,
input[type="url"].large,
input[type="password"].large,
textarea.large,
select.large {
  height: 60px;
  font-size: 1.2em;
  line-height: 60px;
}

input[type="email"].full-width,
input[type="number"].full-width,
input[type="search"].full-width,
input[type="text"].full-width,
input[type="tel"].full-width,
input[type="url"].full-width,
input[type="password"].full-width,
textarea.full-width,
select.full-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
